<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!-- This is set in the app
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
-->    
    <context-param>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>appName</param-name>
        <param-value>News Minute</param-value>
    </context-param>
    <context-param>
        <param-name>appUrl</param-name>
        <param-value>https://play.google.com/store/apps/details?id=com.looseboxes.idisc.newsminutefree</param-value>
    </context-param>
    <context-param>
        <param-name>appDownloadUrl</param-name>
        <param-value>/downloads/newsminutefree.apk</param-value>
    </context-param>
    <filter>
        <filter-name>BotFilter</filter-name>
        <filter-class>com.idisc.web.filters.BotFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter>
        <filter-name>AppFilter</filter-name>
        <filter-class>com.idisc.web.filters.AppFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter>
        <filter-name>PageFilter</filter-name>
        <filter-class>com.idisc.web.filters.PageFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>BotFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AppFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>*.jspx</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>*.html</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>*.xht</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PageFilter</filter-name>
        <url-pattern>*.htm</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.idisc.web.listeners.ServletContextListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionAttributeListener</description>
        <listener-class>com.idisc.web.listeners.SessionAttributeListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>com.idisc.web.listeners.SessionListener</listener-class>
    </listener>
    <listener>
        <description>RequestListener. Amongst others, initializes servlet context attribute baseURL, as well as session attribute 'mobile' which designates the requesting client as a mobile platform or otherwise</description>
        <listener-class>com.idisc.web.listeners.RequestListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Idisc</servlet-name>
        <servlet-class>com.idisc.web.servlets.IdiscAsyncServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>tempmailer</servlet-name>
        <servlet-class>com.idisc.web.servlets.tempmailer</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>Idisc</servlet-name>
        <url-pattern>/activateuser</url-pattern>
        <url-pattern>/addbookmarkfeedids</url-pattern>
        <url-pattern>/addextractedemails</url-pattern>
        <url-pattern>/addfavoritefeedids</url-pattern>
        <url-pattern>/addfeedhit</url-pattern>
        <url-pattern>/aliasesforcategories</url-pattern>
        <url-pattern>/aliasesforcontent</url-pattern>
        <url-pattern>/appproperties</url-pattern>
        <url-pattern>/comments</url-pattern>
        <url-pattern>/feed</url-pattern>
        <url-pattern>/feeds</url-pattern>
        <url-pattern>/getbookmarkfeeds</url-pattern>
        <url-pattern>/getbookmarkfeedids</url-pattern>
        <url-pattern>/getfavoritefeeds</url-pattern>
        <url-pattern>/getfavoritefeedids</url-pattern>
        <url-pattern>/getmultipleresults</url-pattern>
        <url-pattern>/getuser</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/newcomment</url-pattern>
        <url-pattern>/newfeed</url-pattern>
        <url-pattern>/removebookmarkfeedids</url-pattern>
        <url-pattern>/removefavoritefeedids</url-pattern>
        <url-pattern>/requestpassword</url-pattern>
        <url-pattern>/searchresults</url-pattern>
        <url-pattern>/selectfeeds</url-pattern>
        <url-pattern>/signup</url-pattern>
        <url-pattern>/syncbookmarks</url-pattern>
        <url-pattern>/syncfavorites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tempmailer</servlet-name>
        <url-pattern>/tempmailer</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>feeds.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/oops.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/oops.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/oops.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/oops.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/oops.jsp</location>
    </error-page>
</web-app>
