/* 
    Created on : Jan 4, 2016, 4:02:10 PM
    Author     : Josh
*/
/** 
Mobile version of the styles contained in default.css 
Any modification here must be reflected there
margin:0 is synchronized with file /resources/normalize.css
*/
body{ font-size:24px; width:100%; margin:0; text-align:justify; color:#555555; font-family:Verdana,Helvetica,sans-serif,Arial; }       
a{ text-decoration:none; }
.content{ width:100%; font-size:1.5em; color: #555555; margin:0 auto; border:0; padding:0.5em; }
.smallerLighter{ font-size:smaller; color: #777777; }
.borderless{ margin:0; border:0; padding:0; }
ul li { margin-bottom: 1em; }
/** http://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}
.button_prompt{
    background-color:green; color: white; padding: 0.5em;
}
.button_prompt:hover{
    background-color:lightgreen;
}
.button_prompt:active{
    color:orange;
}
.topbanner img{
    width: 64px; height: 64px;
}
.topbanner span{
    height:64px; font-size:1em; font-weight:900; color:#F56600;
}